/* 外边距、内边距全局样式
------------------------------- */
@for $i from 1 through 60 {
	.mt#{$i} {
		margin-top: #{$i}px !important;
	}
	.mr#{$i} {
		margin-right: #{$i}px !important;
	}
	.mb#{$i} {
		margin-bottom: #{$i}px !important;
	}
	.ml#{$i} {
		margin-left: #{$i}px !important;
	}
	.pd#{$i} {
		padding: #{$i}px !important;
	}
	.pt#{$i} {
		padding-top: #{$i}px !important;
	}
	.pr#{$i} {
		padding-right: #{$i}px !important;
	}
	.pb#{$i} {
		padding-bottom: #{$i}px !important;
	}
	.pl#{$i} {
		padding-left: #{$i}px !important;
	}
}

.w100 {
	width: 100%;
}

.el-container {
	height: 100% !important;
}

.flex1 {
	flex: 1;
}

.flex-start {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.flex-end {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.flex-center {
	display: flex;
	align-items: center;
}

.flex-around {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.singe-line {
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;
	white-space: nowrap;
}
