:root{
  --el-fill-color-blank: transparent;
   
  // 菜单项高亮背景色
  --el-menu-hover-bg-color: rgba(255,255,255,.1);
  // 菜单文字颜色
  --el-menu-text-color: #fff;
  // 菜单边框颜色
  --el-menu-border-color: transparent;

  --app-radius: 10px;
}


.el-menu--horizontal > .el-menu-item.is-active{
  background-color: rgba(255,255,255,.1);
}

.engines{
  // 背景遮罩颜色
	--el-bg-color-overlay: rgba(255, 255, 255, 0.2);
	// 表单边框颜色
	--el-border-color: rgba(255, 255, 255, 0.2);
	// 表单划过高亮边框颜色
	--el-border-color-light: rgba(255, 255, 255, 0.3);
}

.el-popover{
  min-height: 300px;
  border-radius: 10px;
  overflow-y: auto;
  padding: 0 !important;
  --el-popover-bg-color: rgba(255,255,255,.5);
  --el-popover-border-color: rgba(255,255,255,.5); 
  backdrop-filter: blur(15px); 
}
.el-popper__arrow{
  display: none;
}
.el-popper.is-light .el-popper__arrow::before{
  background-color: rgba(255,255,255,.5);
  border: 1px solid rgba(255,255,255,.5);
  backdrop-filter: blur(15px);
}
